# macOS
.DS_Store
**/.DS_Store

# Templates – ignore everything except main.tex and whitelisted folders
templates/*
!templates/main.tex
# To track a specific template folder, add two lines like these:
# !templates/My Template/
# !templates/My Template/**

# Templates – ignore everything except .gitkeep
projects/*
!projects/.gitkeep

# LaTeX build artifacts
**/.build/
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.out
missfont.log
*.pdf
